html, body, button, input {
  font-size: 14px;
}

#video-container {
  width: 640px;
}

.button {
  background: transparent;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.slider {
  height: 1.5em;
}

.slider::-ms-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  overflow: visible;
}

.slider::-ms-fill-upper {
  background: red;
}

.slider::-ms-fill-lower {
  background: green;
}

.slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.video-progress {
  width: 50%;
}

.volume-level {
  width: 20%;
}